.backdrop {
  box-shadow: 5px 0 5px;
}

.genres {
  background-color: #C8C8C8;
  border-radius: 20px;
  padding: 1.5px 10px;
  transition: all 0.5s;

  &:hover {
    background-color: crimson;
    color: #FFF;
  }

}