.moviesContainer{
  max-width: 800px;
  margin: 14px auto;
  display: flex;
  flex-direction: column;
}

.moviesContainer span {
  font-size: 20px;
  font-weight: 700;
  margin-right: 140px;
  align-self: center;
}