.favorites {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites h1 {
  margin-bottom: 14px;
}

.favorites span {
  font-size: 18px;
  margin-right: 140px;
}

.favorites ul {
  max-width: 100%;
}

.favorites ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.favorites div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
}

.favorites div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorites button {
  margin-right: 6px;
  margin-top: 7px;
  margin-left: 0;
  font-size: 18px;
  border: 0;
  outline: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    color: #FFF;
    background-color: crimson;
  }
}

@media only screen and (max-width : 780px) {
  .favorites h1 {
    font-size: 25px;
  }

  .favorites span {
    margin-left: 6px;
    font-size: 15px;
    margin-right: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .favorites div a {
    margin-right: 6px;
    font-size: 14px;
  }

  .favorites button {
    font-size: 14px;
    padding: 10px 6px;
  }

}